.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
}

.product-card img {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 0;
  background-color: white;
}

.product-card p {
  margin: 5px 0;
  background-color: white;
}

.product-card button {
  margin-top: auto;
  background-color: rgb(250, 177, 52);
  width: 112%;
  height: 80px;
  margin-bottom: -11px;
  border-color: black;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.product-card button:hover {
  background-color: #ffa500;
  transform: scale(1.05);
}

@media (max-width: 320px) {
  .product-card {
    flex-basis: 100%;
  }
}

@media (max-width: 1200px) {
  .product-card {
    flex-basis: calc(50% - 20px);
  }
}

